<p>Здравствуйте, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Сообщаем вам, что ваш email будет изменен на <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Сообщаем вам, что ваш email был изменен на <%= @resource.email %>.</p>
<% end %>
