<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку для изменения пароля. Вы можете сделать это, пройдя по ссылке ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали этого, просто проигнорируйте это письмо.</p>
<p>Ваш пароль не будет изменен, если вы не пройдете по ссылке выше.</p>
