<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Ваш профиль был заблокирован, так как превышено количество неудачных попыток входа.</p>

<p>Для разблокировки профиля, пройдите по ссылке ниже:</p>

<p><%= link_to 'Разблокировать профиль', unlock_url(@resource, unlock_token: @token) %></p>
