p id="notice" = notice

p <strong>Заголовок:</strong> #{@post.title}

p <strong>Содержимое:</strong> #{@post.content}

button => link_to 'Изменить', edit_post_path(@post)
button = link_to 'Назад', posts_path
